{% extends "base.html" %}
{%  load static %}
{% block body %}
<br><br><br><br>
    <section class="ftco-about d-md-flex">
    	<div class="one-half img" style="margin-left: 100px; background-image: url({% static 'images/about1.jpg'  %});"></div>
    	<div class="one-half ftco-animate">
    		<div class="overlap" >
	        <div class="heading-section ftco-animate ">
	        	<span class="subheading">O nama</span>
	          <h2 class="mb-4">Audioteka</h2>
	        </div>
	        <div>
                <p style="color:white">Audioteka je firma sa sjedištem u Bihaću u Bosni i Hercegovini. Već dugi niz godina radi na tome na njeni klijenti sigurno i uredno spremaju i obnavljaju svoju muzičku kolekciju. Povjerenje klijenata im je najbitnije.</p></div>
  			</div>
    	</div>
    </section>
{% endblock body %}