{% extends "base.html" %}
{% load static %}
{% block body %}


    <section class="ftco-section" style="max-height: 700px">
        <div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="{{ podaci.slika }}" class="image-popup"><img src="{{ podaci.slika }}" class="img-fluid" alt="Slika" style="width: 450px; height: 450px;"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{ podaci.naziv }} </h3>
    				<p class="price" ><span style="font-size: 12pt"> <a href="{% url 'kolekcija:Izvodac' podaci.izvodac %}" >{{ podaci.izvodac }}</a> </span></p>
                    <p class="price" ><span style="font-size: 11pt"> S albuma: <i><a href="{% url 'kolekcija:Album' podaci.izvodac podaci.album %}" >{{ podaci.album }}</a></i></span></p>
                    <p class="price" ><span style="font-size: 10pt"> Tagovi: <a href="{% url 'kolekcija:Tag' podaci.tagovi.0 %}" >{{ podaci.tagovi.0 }}</a>, <a href="{% url 'kolekcija:Tag' podaci.tagovi.1 %}" >{{ podaci.tagovi.1 }}</a>, <a href="{% url 'kolekcija:Tag' podaci.tagovi.2 %}" >{{ podaci.tagovi.2 }}</a></span></p>

    				<p> {{ podaci.kratkiopis }} </p>
                    <p class="price" ><span style="font-size: 10pt">Slušatelja: {{ podaci.listeners }}</span> &nbsp; &nbsp;  &nbsp;  <span style="font-size: 10pt">Puštanja: {{ podaci.plays }}</span></p>

                   {%  if podaci.baza  %}
                        <p><a href="{% url 'kolekcija:Izbrisi pjesmu' podaci.izvodac podaci.naziv %}" class="btn btn-primary btn-outline-primary">Izbriši iz moje kolekcije</a></p>
                    {% else %}
                        <p><a href="{% url 'kolekcija:Dodaj pjesmu' podaci.izvodac podaci.naziv %}" class="btn btn-primary btn-outline-primary">Dodaj u moju kolekciju</a></p>
                    {% endif %}

                </div>
            </div>
        </div>


    </section>


{% endblock body %}