  
{% for field in form %}        
                 
    {% if field.label == 'Password' %}

        <div class="form-group">
            <input type="password" class="form-control" id="{{field.id_for_label}}" name=" {{field.name}}" placeholder="{{ field.label }}">
        </div>

    {% else %}
        <div class="form-group">
            <input type="text" class="form-control" id="{{field.id_for_label}}" name=" {{field.name}}" placeholder="{{ field.label }}">
        </div>
    {% endif %}

{% endfor %}